<div class="hero" style="background-image: url('{{ root_url }}/images/cliffs_of_moher.jpg');">
  <div class="grid-wrapper">
    <div class="grid flex">
      <div class="grid__item flex__item two-fifths palm-one-whole avatar">
        <img class="gravatar" src="{{ root_url }}/images/gravatar.jpg" alt="{{ site.author }}'s Picture"{% if site.email and site.gravatar != false %} data-gravatar="{{ site.email }}"{% endif %}>
      </div>
      <div class="grid__item flex__item three-fifths palm-one-whole">
        <h1>{{ site.author }}</h1>
        <hr>
        <p class="lead">
			Cara besar untuk melakukan pekerjaan berat adalah dengan mencintain apa yang telah anda lakukan, walaupun sebenarnya anda membencinya.
			Menjadi manusia yang terbaik adalah orang yang memberikan manfaat bagi orang lain.
        </p>
      </div>
    </div>
  </div>

  <div class="credit">
    <p></p>
  </div>
</div>
